<style>
.circle {
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
}
#green {
    width: 20px;
    height: 20px;
    background: green;
}
#red {
    width: 20px;
    height: 20px;
    background: red;
}
</style>

<h1>{{.Title}}</h1>

{{ if .ServerAlive }}
	<div class="circle" id="green"></div>
	Server running..
{{ else }}
	<div class="circle" id="red"></div>
	Server down.
	<form action="/notify">
	<input type="submit" value="Notify Paul" />
	</form> 
{{ end }}

